<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SimpleAPI Dashboard{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <img src="{{ url_for('static', filename='img/icon.png') }}" alt="DAM N FAST" class="logo">
            <nav>
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/icons/hugeicons--home-09.svg') }}" alt="Resumen" class="svg menu-normal"></a>
                <a href="{{ url_for('cdns') }}"><img src="{{ url_for('static', filename='img/icons/hugeicons--folders.svg') }}" alt="CDNs" class="svg menu-normal"></a>
                {% if user.role == 'admin' %}<a href="{{ url_for('users_admin') }}"><img src="{{ url_for('static', filename='img/icons/hugeicons--book-user.svg') }}" alt="Usuarios" class="svg menu-normal"></a>{% endif %}
            </nav>
            <div class="session-box">
                <div class="tooltip">
                    <img src="{{ url_for('static', filename='img/icons/hugeicons--user-account.svg') }}" alt="Resumen" class="svg menu-mini">
                    <span class="tooltiptext"><strong>{{ user.username }}</strong>: {{ user.role }}</span>
                </div>
                <a href="{{ url_for('logout') }}"><img src="{{ url_for('static', filename='img/icons/hugeicons--door-02.svg') }}" alt="CDNs" class="svg menu-normal"></a>
            </div>
        </aside>
        <main class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}" id="notificacion">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </div>
</body>
<script>
    const element = document.getElementById('notificacion');
    if (element) {
        setTimeout(() => {
            element.style.display = 'none';
        }, 5000);
    }
</script>
</html>
