{% extends 'base.html' %}
{% block title %}CDN {{ cdn.name }}{% endblock %}
{% block content %}
<section>
    <div class="section-title">
        <h2>CDN: {{ cdn.name }} <small>{{ 'Pública' if cdn.is_public else 'Privada' }}</small></h2>
        <div class="actions">
            <button type="button" onclick="openUploadModal()">
                <img src="{{ url_for('static', filename='img/icons/hugeicons--file-upload.svg') }}" alt="Subir Archivo"
                    class="svg">
            </button>
            {% if not cdn.is_public %}
            <button type="button" onclick="openAPISModal()">
                <img src="{{ url_for('static', filename='img/icons/hugeicons--key-01.svg') }}" alt="API Keys"
                    class="svg">
            </button>
            {% endif %}
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th class="dnr">Fecha de subida</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for item in files %}
            <tr>
                <td>
                    {% if short_public %}
                    <a href="{{ api_base_url }}/assets/{{ cdn.name }}/{{ item.filename }}">{{ item.filename }}</a>
                    {% else %}
                    <a href="{{ api_base_url }}/assets/{{ user.username }}/{{ cdn.name }}/{{ item.filename }}">{{ item.filename }}</a>
                    {% endif %}
                </td>
                <td class="dnr">{{ item.created_at }}</td>
                <td>
                    <form method="post" action="{{ url_for('delete_file', cdn_name=cdn.name) }}" class="inline-form">
                        <input type="hidden" name="filename" value="{{ item.filename }}">
                        <button type="submit"><img src="{{ url_for('static', filename='img/icons/hugeicons--file-remove.svg') }}" alt="Eliminar" class="svg"></button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="5">Sin archivos.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    
</section>
<div id="uploadModal" class="modal-backdrop" style="display:none;">
    <div class="modal-card">
        <h3>Subir Archivo(s)</h3>
        <form method="post" action="{{ url_for('upload_file', cdn_name=cdn.name) }}" enctype="multipart/form-data" class="modal-form">
            <input type="file" name="files" multiple required>
            
        
        <div class="footer">
            <button type="submit">Subir</button>
            <button type="button" class="btn-secondary" onclick="closeUploadModal()">Cerrar</button>
        </div>
    </form>
    </div>
</div>

<div id="APISModal" class="modal-backdrop" style="display:none;">
    <div class="modal-card">
        <div class="section-title">
            <h3>API Keys</h3>
            <form method="post" action="{{ url_for('create_api_key', cdn_name=cdn.name) }}">
                <button type="submit"><img src="{{ url_for('static', filename='img/icons/hugeicons--circle-lock-add-01.svg') }}" alt="Generar API Key" class="svg"></button>
            </form>
        </div>
        
        <ul class="list">
            {% for key in api_keys %}
            <li class="api-item">
                <code>{{ key.key_value }}</code>
                <form method="post" action="{{ url_for('delete_api_key', cdn_name=cdn.name) }}" >
                    <input type="hidden" name="key_id" value="{{ key.id }}">
                    <button type="submit" class="delete-button"><img src="{{ url_for('static', filename='img/icons/hugeicons--delete-01.svg') }}" alt="Eliminar API Key" class="svg"></button>
                </form>
            </li>
            {% else %}
            <li>Sin API Keys.</li>
            {% endfor %}
        </ul>
        <div class="modal-form footer">
            <button type="button" class="btn-secondary" onclick="closeAPISModal()">Cerrar</button>
        </div>
    </div>
    
</div>
<script>
    function openAPISModal() {
        document.getElementById('APISModal').style.display = 'flex';
    }
    function closeAPISModal() {
        document.getElementById('APISModal').style.display = 'none';
    }
    function openUploadModal() {
        document.getElementById('uploadModal').style.display = 'flex';
    }
    function closeUploadModal() {
        document.getElementById('uploadModal').style.display = 'none';
    }
</script>
{% endblock %}
